.carty-hidden-table-cell{
    visibility: hidden;
}

.carty-cart-table{
}

.carty-cart-col-quantity{
    width: 40px;
}

.carty-cart-col-spacer{
    width: 100px;
}

.carty-product-box-spacer{
    padding-top: 10px;
}

.carty-loading-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}